/* navbar toggle css*/
nav {
    width: 250px;
    transition: all 0.5s ease;
}

nav.close {
    width: 95px;
}

nav.close .linkName {
    opacity: 0;
    pointer-events: none;
}

.dashboard {
    min-height: 100vh;
    width: calc(100% - 250px);
    left: 250px;
    transition: all 0.5s ease;
}

nav.close~.dashboard {
    left: 95px;
    width: calc(100% - 95px);
}

.dashboard .top {
    width: calc(100% - 250px);
    left: 250px;
    transition: all 0.5s ease;
}

nav.close~.dashboard .top {
    left: 95px;
    width: calc(100% - 95px);
}