/* navbar toggle css*/
nav {
    width: 250px;
    transition: all 0.5s ease;
}

nav.close {
    width: 95px;
}

nav.close .linkName {
    opacity: 0;
    pointer-events: none;
}

.dashboard {
    min-height: 100vh;
    width: calc(100% - 250px);
    left: 250px;
    transition: all 0.5s ease;
}

nav.close~.dashboard {
    left: 95px;
    width: calc(100% - 95px);
}

.dashboard .top {
    width: calc(100% - 250px);
    left: 250px;
    transition: all 0.5s ease;
}

nav.close~.dashboard .top {
    left: 95px;
    width: calc(100% - 95px);
}

/* Theme switch css */

/* The container for the switch */

.theme_switch_label {
    transform: scale(1);
}

.theme_switch_ball {
    /* position: absolute; */
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.theme_switch_label .theme_switch_ball {
    transform: translatey(35px);
}