/* Theme default style */
:root {
  /* define app major colors */
  --primaryColor: rgb(115, 128, 236);
  --secondaryColor: rgb(47, 46, 62);

  /* alert colors */
  ---color-danger: #ff7782;
  ---color-warning: #ffbb55;
  ---color-success: #41f1b6;

  ---color-light: rgb(132, 139, 200, 0.18);
  ---color-dark: #363949;

  ---color-info-light: #7d8da1;
  ---color-info-dark: #dce1eb;

  /* app additional colors */
  --customColor-1: rgb(255, 255, 255);
  --customColor-2: rgb(246, 246, 249);
  --customColor-3: rgb(103, 116, 131);

  /* pri sec color opacity */
  --primaryColor-100: rgb(115, 128, 236, 0.1);
  --primaryColor-200: rgb(115, 128, 236, 0.2);
  --primaryColor-300: rgb(115, 128, 236, 0.3);
  --primaryColor-400: rgb(115, 128, 236, 0.4);
  --primaryColor-500: rgb(115, 128, 236, 0.5);
  --primaryColor-600: rgb(115, 128, 236, 0.6);
  --primaryColor-700: rgb(115, 128, 236, 0.7);
  --primaryColor-800: rgb(115, 128, 236, 0.8);

  --secondaryColor-100: rgb(47, 46, 62, 0.1);
  --secondaryColor-200: rgb(47, 46, 62, 0.2);
  --secondaryColor-300: rgb(47, 46, 62, 0.3);
  --secondaryColor-400: rgb(47, 46, 62, 0.4);
  --secondaryColor-500: rgb(47, 46, 62, 0.5);
  --secondaryColor-600: rgb(47, 46, 62, 0.6);
  --secondaryColor-700: rgb(47, 46, 62, 0.7);
  --secondaryColor-800: rgb(47, 46, 62, 0.8);

  /* custom colors opacity */
  --customColor-1-100: rgb(255, 255, 255, 0.1);
  --customColor-1-200: rgb(255, 255, 255, 0.2);
  --customColor-1-300: rgb(255, 255, 255, 0.3);
  --customColor-1-400: rgb(255, 255, 255, 0.4);
  --customColor-1-500: rgb(255, 255, 255, 0.5);
  --customColor-1-600: rgb(255, 255, 255, 0.6);
  --customColor-1-700: rgb(255, 255, 255, 0.7);
  --customColor-1-800: rgb(255, 255, 255, 0.8);

  --customColor-2-100: rgb(246, 246, 249, 0.1);
  --customColor-2-200: rgb(246, 246, 249, 0.2);
  --customColor-2-300: rgb(246, 246, 249, 0.3);
  --customColor-2-400: rgb(246, 246, 249, 0.4);
  --customColor-2-500: rgb(246, 246, 249, 0.5);
  --customColor-2-600: rgb(246, 246, 249, 0.6);
  --customColor-2-700: rgb(246, 246, 249, 0.7);
  --customColor-2-800: rgb(246, 246, 249, 0.8);

  --customColor-3-100: rgb(103, 116, 131, 0.1);
  --customColor-3-200: rgb(103, 116, 131, 0.2);
  --customColor-3-300: rgb(103, 116, 131, 0.3);
  --customColor-3-400: rgb(103, 116, 131, 0.4);
  --customColor-3-500: rgb(103, 116, 131, 0.5);
  --customColor-3-600: rgb(103, 116, 131, 0.6);
  --customColor-3-700: rgb(103, 116, 131, 0.7);
  --customColor-3-800: rgb(103, 116, 131, 0.8);

  /* default font sizes */
  --fontSize-xs: .75rem;
  --fontSize-sm: .875rem;
  --fontSize-md: 1rem;
  --fontSize-lg: 1.125rem;
  --fontSize-xl: 1.25rem;
  /* default font families */
  --primaryFontFamily: "Poppins", sans-serif;
  --secondaryFontFamily: ;
  --otherFontFamily: ;
}

/* default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: var(--customColor-2);
  width: 100vw;
  height: 100vh;
  font-family: var(--primaryFontFamily);
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
}

a {
  color: var(---color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h2 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

text-muted {
  color: var(---color-info-dark);
}

b {
  color: var(---color-dark);
}