body {
    background-color: var(--customColor-2);
    color: var(--color-light);
    min-height: 100vh;
    font-family: var(--primaryFontFamily);
}

.sec-theme-color {
    background-color: var(--secondaryColor);
    background-color: var(--secondaryColor-600);
}

.hoverColor-sec:hover {
    background-color: var(--secondaryColor-600);

}

.fixed {
    background-color: var(--customColor-2);
}